<% binding.pry %> 

<h1>NYC Sinatra Lab</h1>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/landmarks">Landmarks</a>

<p style="font-family:sans-serif font_style:arial">
<center>
<h1> Welcome to Popular Books </h1>

<a class="button" href="/users/signup">Sign Up</a>
<a class="button" href="/users/login">Log In</a>
</center>
</p>