<!DOCTYPE html>
<html>
<body>

<center>
<p style="font-family:verdana">
Welcome to Popular Books <br> <br> 

<a class="button" href="/users/signup">Sign Up</a>
<a class="button" href="/users/login">Log In</a>
</center>
</p>

</body>
</html>